doctype html
include head.pug
body
  include menu_login.pug
  // section
  //   #top.mainimg
  //     #name
  //       h1.coupletitle 온라인 가계부
  //     #date
  //       h4.weddingdate 김병수&김재림&김요셉 
  //     #img
  section
    h2 생활비가계부 
    //.theme-showcase(role='main')
    .container-fluid
      form.form-inline(action="/item/search" method="get")
        .form-group
          label(for='itemDateStart') 시작날짜
          input#itemDateStart.form-control(type='date',name='dateStart',required)
        .form-group
          label(for='itemDateEnd') 종료날짜
          input#itemDateEnd.form-control(type='date',name='dateEnd',required)
        .form-group
          button.btn.btn-default.btn-block(type='submit') 보기
          #category
            label(for='mitemCategory') 분류
            select.form-control#mitemCategory(name='category',required)
              option(value='Essen',select) Essen
              option(value='Lebensmittel') Lebensmittel
              option(value='Joseph') Joseph
              option(value='Medikamente') Medikamente
              option(value='Kosmetik') Kosmetik
              option(value='Shopping') Shopping
              option(value='Geschenk') Geschenk
              option(value='Restaurant') Restaurant
              option(value='Leihen') 빌려주기
              option(value='LeihenZurueck') 빌린돈받음
              option(value='BalanceControl') 잔고맞춤
              option(value='Etc') 그외
    .container
      #statistic
      .row.wishlistheader
        .col-md-2.col-xs-2
          h5 날짜
        .col-md-2.col-xs-2
          h5 항목
        .col-md-2.col-xs-2
          h5 지출
        .col-md-2.col-xs-2
          h5 수입
        .col-md-2.col-xs-2
          h5 분류
        .col-md-2.col-xs-2
          h5 메모
      #filteredlist
        // .row.wishlistrow
        //   .col-md-2.col-xs-2
        //     span #{item.date.toLocaleDateString()}
        //   .col-md-2.col-xs-2
        //     span #{item.title}
        //   .col-md-1.col-xs-1
        //     span #{item.expense.toFixed(2)}
        //   .col-md-1.col-xs-1
        //     span #{item.income.toFixed(2)}
        //   .col-md-1.col-xs-1
        //     span #{item.category}
        //   .col-md-2.col-xs-2
        //     span #{item.memo}
      div(style='padding-bottom:100px')
  
  script.
    function getSetableDate(date) //for date input type setting
    {
      var d = new Date(date)
      var day = ("0" + d.getDate()).slice(-2);
      var month = ("0" + (d.getMonth() + 1)).slice(-2);
      var result = d.getFullYear()+"-"+(month)+"-"+(day) ;
      return result;
    }
    var list = !{liststr};
    console.log(list)
    
    function getStatistic(){
      var result = {};
      list.forEach(function(element){
        if(result[element.category]) //exist?
        {
          result[element.category] += -element.expense + element.income; 
        }
        else //not exist?
        {
          result[element.category] = -element.expense + element.income; 
        }
        
      })
      
      return result;
    }

    $(document).ready(function(){
        $('#itemDateStart').val(getSetableDate(new Date()));
        $('#itemDateEnd').val(getSetableDate(new Date()));
        
        $('#mitemCategory').on('change',function(){
          console.log('categorySelected');
          var selected = $('#mitemCategory').val();
          console.log('selected',selected);
          var filteredlist = list.filter(function(element){return element.category==selected});
          var htmlstr = '';
          htmlstr+='<div class="row wishlistrow">';

          for(var i=0; i<filteredlist.length;i++)
          {
          console.log(typeof filteredlist[i].date);
            htmlstr+='<div class="row wishlistrow">';
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span>" + new Date(filteredlist[i].date).toLocaleDateString()+ " </span></div>"
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span>" +filteredlist[i].title+"</span></div>"
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span> "+filteredlist[i].expense.toFixed(2)+"</span></div>"
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span>"+ filteredlist[i].income.toFixed(2)+"</span></div>"
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span>"+ filteredlist[i].category+"</span></div>"
            htmlstr+=  "<div class='col-md-2 col-xs-2'>"
            htmlstr+=    "<span>"+ filteredlist[i].memo+"</span></div>"
          
            htmlstr+= "</div>"
          }
          

          $('#filteredlist').html(htmlstr);
        })
        
        var result = getStatistic();
        var htmlstr = '';//JSON.stringify(result)
        for (var prop in result)
        {
          htmlstr+= "<div>"+prop+":"+result[prop].toFixed(2) +"</div>"  
        }
        console.log(result);
        $('#statistic').html(htmlstr);
        

    })
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100905207-1', 'auto');
    ga('send', 'pageview');
